<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="register" method="post"><center>
    {% csrf_token %}
    <h1>Student Registration</h1>
    <label>Username:</label>
    <input type="text" name="username" placeholder="Enter your Username" required><br>
     <label>Password :</label>
    <input type="password" name="password" placeholder="Enter your password" required><br>
     <label> conf Password :</label>
    <input type="password" name="password1" placeholder="Confirm your password"><br>
    <input type="submit"<a href="/login"</a><br>

    </center>

</body>
</html>